body {
  margin: 0px;
  padding: 0px;
  width: 1600px;
  height: 609px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
}
.header {
  display: flex;
  margin: 0px auto;
  width: 1320px;
  height: 600px;
  background-image: url("../images/Banner\ Image.png");
  border-radius: 16px;
  box-sizing: border-box;
}
.top-banner {
  width: 632px;
  height: 246px;
  text-align: center;
  margin: 0px auto;
  box-sizing: border-box;
}
.title {
  font-weight: 400px;
  font-size: 32px;
  color: rgb(255, 255, 255);
  line-height: 0px;
  margin-top: 50px;
}
.sub-title {
  font-weight: 900px;
  font-size: 72px;
  color: rgb(255, 255, 255);
  line-height: 95px;
}
